@model PersonalBlogPracticeWebsite.Pages.Partials.ArticleSmallViewPartial

<div>
    <div class="blog-thumbnail">
        <img src="@Model.ImageUrl" alt="Thumbnail"/>
    </div>
    <h4>@Model.ArticleTitle</h4>
    <span>By @Model.ArticleAuthor</span>
</div>
