.blog-list-div {
    margin-top: 20px;
}

.blog-list-div ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.blog-list-div ul li div:not(.blog-thumbnail){
    margin: 15px;
    outline: #1C6EA4 solid 3px;
    outline-offset: 6px;
}

.blog-list-div ul li .blog-thumbnail {
    text-align: center;
}

.blog-list-div ul li div img {
    width: 150px;
    height: 150px;
}
