@page "/Articles/Create/{type?}"
@model PersonalBlogPracticeWebsite.Pages.Articles.Create

@* ReSharper disable once Razor.SectionNotResolved *@
@section InlineCSS
{
    body {
    margin-left: 25px;
    margin-right: 25px;
    }
}

@{
}

<h1>Create your article</h1>

<p>
    Create your article and submit it. I will review it and post it. The review might take some hours or days, depending
    on how busy I am at that moment.
</p>

<form method="post">
    <div class="mb-3">
        <label style="display: block;" asp-for="formSubmit.AuthorName"></label>
        <input type="text" class="mb-3" asp-for="formSubmit.AuthorName"/>
        <span asp-validation-for="formSubmit.AuthorName"></span>
    </div>

    <div class="mb-3">
        <label style="display: block;" asp-for="formSubmit.CreationDate"></label>
        <input type="date" class="mb-3" asp-for="formSubmit.CreationDate"/>
        <span asp-validation-for="formSubmit.CreationDate"></span>
    </div>

    <div class="mb-3">
        <label style="display: block;" asp-for="formSubmit.Content"></label>
        <textarea type="text" class="mb-3" placeholder="Your submission" asp-for="formSubmit.Content"></textarea>
        <span asp-validation-for="formSubmit.CreationDate"></span>
    </div>

    <div class="mb-3">
        <button type="submit"
                class="btn btn-primary">
            Submit
        </button>
        <button type="reset"
                class="btn btn-danger">
            Clear
        </button>
    </div>
</form>