@page
@model PersonalBlogPracticeWebsite.Pages.About

@{
}

@section AdditionalCss
{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/Pages/About.css"/>
}

<div class="text-center">
    <h1>AlexDev ©2020</h1>
    <div style="position:absolute; left: 50%; transform: translate(-50%, 0);">
        <br/>
        <ul style="list-style: none; display: flex; flex-direction: row; font-size: 35px;">
            <li>
                <div>
                    <i class="fa fa-youtube"></i>
                    <a href="https://www.youtube.com/channel/UCsdtzLO_xpHP8e2oIyPrlrA">YouTube</a>
                </div>
            </li>
            <li>
                <div>
                    <i class="fa fa-github"></i>
                    <a href="https://github.com/thealexdev23">GitHub</a>
                </div>
            </li>
            <li>
                <div>
                    <i class="fa fa-twitter"></i>
                    <a href="https://twitter.com/TheTrueAlexDev">Twitter</a>
                </div>
            </li>
        </ul>
    </div>
</div>
