@page
@model PersonalBlogPracticeWebsite.Pages.Index

@{
    ViewData["Title"] = "Home Page";
}

@section AdditionalCss
{
    <link rel="stylesheet" href="css/Pages/Index.css"/>
}

<div style="margin-left: 25px; margin-right: 25px;">
    <h1>Welcome to my blog site</h1>

    <h2>Recommended articles:</h2>

    <div class="blog-list-div">
        <ul>
            @foreach (var article in Model.recomemdedArticles) {
                <li>
                    <a asp-page="/Articles/ReadArticle" asp-route-articleName="@article.ArticleTitle">
                        <partial name="Partials/ArticleSmallViewPartial" model="article"/>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>