@page
@model PersonalBlogPracticeWebsite.Pages.Errors.e404

@{
}

<div style="margin: 15px;">
    <h1 style="color: red">404</h1>
    <h3>Hmmm, It seems like what you are searching for is not found...</h3>
    <p>
        <a asp-page="/Index">Go back to the home page</a>
    </p>
</div>