@page
@model PersonalBlogPracticeWebsite.Pages.Account.CheckYourEmail

@{
}

<div class="text-center">
    <p>A verification link has been sent to you to the email you have provided. Don't forget to check the spam folder.</p>
    <a asp-page="/Account/Login">Go to login page</a>
</div>
