@page
@model PersonalBlogPracticeWebsite.Pages.Account.Login

@{
}

<div class="form" style="margin: 25px;">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="LogModel.Email"></label>
            <input class="form-control" asp-for="LogModel.Email"/>
            <span class="form-text" asp-validation-for="LogModel.Email"></span>
        </div>
        
        <div class="mb-3">
            <label class="form-label" asp-for="LogModel.Password"></label>
            <input class="form-control" asp-for="LogModel.Password"/>
            <span class="form-text" asp-validation-for="LogModel.Password"></span>
        </div>
        
        <div class="mb-3 form-check">
            <label class="form-label" asp-for="LogModel.KeepSingedIn"></label>
            <input class="form-check-input" asp-for="LogModel.KeepSingedIn"/>
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div asp-validation-summary="All"></div>
</div>