@page
@model PersonalBlogPracticeWebsite.Pages.Account.Register

@{
}

<div class="form" style="margin: 25px;">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="RegModel.UserName"></label>
            <input class="form-control" asp-for="RegModel.UserName"/>
            <span class="form-text" asp-validation-for="RegModel.UserName"></span>
        </div>
        
        <div class="mb-3">
            <label class="form-label" asp-for="RegModel.Email"></label>
            <input class="form-control" asp-for="RegModel.Email"/>
            <span class="form-text" asp-validation-for="RegModel.Email"></span>
        </div>
        
        <div class="mb-3">
            <label class="form-label" asp-for="RegModel.Password"></label>
            <input class="form-control" asp-for="RegModel.Password"/>
            <span class="form-text" asp-validation-for="RegModel.Password"></span>
        </div>
        
        <div class="mb-3">
            <label class="form-label" asp-for="RegModel.RePassword"></label>
            <input class="form-control" asp-for="RegModel.RePassword"/>
            <span class="form-text" asp-validation-for="RegModel.RePassword"></span>
        </div>
        
        <div class="mb-3 form-check">
            <label class="form-label" asp-for="RegModel.KeepSingedIn"></label>
            <input class="form-check-input" asp-for="RegModel.KeepSingedIn"/>
        </div>
        
        <button type="submit" class="btn btn-primary">Create my account!</button>
    </form>
    
    <div asp-validation-summary="All"></div>
</div>
